body {
    background-color: #2b2b2b;
    color: lime;
    font-family: "PressStart2P-Regular";
    font-size: 1.5rem;
    max-height: 100vh;
    overflow: hidden;
}

main {
    margin: 4rem auto 0;
    width: 80%;
    height:80vh;
}

section > * {
    margin-bottom: 1rem;
}

@font-face {
    font-family: "PressStart2P-Regular";
    src: url("PressStart2P-Regular.ttf");
}

#cursor {
    vertical-align: super;
    animation: blink 1.8s linear infinite;

}

@keyframes blink {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

footer {
    margin: 1rem auto;
    text-align: center;
}

footer a, footer a:visited{
    color: lime;
}
